<h1>Create an Article</h1>

<% if @article.errors.any? %>
  <h3>The following errors occured:</h3>
  <ul>
  <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @article do |form| %> 
<!-- @article must be set to Article.new via "new" method in "articles_controller.rb" -->
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>